*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  position: relative;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.navbar {
  background-color: #f4511e;
}

#contact {
  border: 1px solid black;
  padding: 8px;
  width: 100px;
  border-radius: 50px;
  text-align: center;
  background-color: black;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
}

.s1 {
  background-color: black;
  color: white;
}

.firstsection {
  display: flex;
  align-items: center;
}

.small-text {
  font-size: 1.5rem;
}

.large-text {
  font-size: 3.4rem;
}

.medium-text {
  font-size: 2rem;
}

.diff {
  color: #f4511e;
}

input[type="button"] {
  width: 200px;
  border-radius: 10px;
  padding: 20px;
  background-color: #f4511e;
  color: white;
  font-size: 1.5rem;
}

.heading {
  text-align: center;
  /* margin: 60px; */
}

.heading p::after {
  content: "";
  display: block;
  border-bottom: 2px solid #f4511e;
  width: 15%;
  margin: auto;
}

.picture {
  width: 50%;
  height: 500px;
  /* border: 1px solid black; */
  border-radius: 10px;
}

.picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.p-bar {
  margin: 40px;
}

.progress-bar {
  background-color: #f4511e;
}

.services {
  height: 90vh;
}

.card {
  height: 300px;
  width: 350px;
  margin: 5px auto;
  border-color: #f4511e;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

.project {
  height: 650px;
  object-fit: contain;
  justify-content: flex-start;
}

.project p {
  padding: 20px;
  text-align: left;
}

.project input {
  align-self: flex-start;
  margin-left: 20px;
  padding: 15px;
  width: 120px;
  font-size: 1rem;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0px 0px;
}

.res-carousel {
  display: none;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.text,
.social {
  margin-left: 10px;
}

.text p {
  margin: 0;
  padding: 0;
}

#name,
#email {
  flex: 1;
  width: 45%;
  margin-bottom: 30px;
  padding: 10px;
  border-radius: 10px;
  border-width: thin;
}

#name {
  margin-right: 10px;
}

#subject {
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  border-width: thin;
  padding: 10px;
}

#message {
  margin-bottom: 30px;
  height: 250px;
  width: 100%;
  border-radius: 10px;
  border-width: thin;
  padding: 10px;
}

.nande {
  display: flex;
  justify-content: space-around;
}

footer {
  background-color: black;
  text-align: center;
  padding: 30px;
}

footer hr{
  border-color: white;
}

.carousel-control-prev,
.carousel-control-next {
  width: 20px;
}

.carousel-control-prev-icon{
  margin-left: -200px;
}

.carousel-control-next-icon{
  margin-right: -200px;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: red;
  margin-left: 0;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: red;
}

@media screen and (max-width: 768px) {
  .illustration {
    display: none;
  }

  .small-text {
    font-size: 0.9rem;
  }

  .large-text {
    font-size: 2rem;
  }

  .medium-text {
    font-size: 1.5rem;
  }

  .picture {
    width: 100%;
    height: 250px;
    border-radius: 50%;
    text-align: center;
  }

  .ab-sec {
    justify-content: center;
  }

  input[type="button"] {
    padding: 15px;
  }

  .p-bar {
    margin: 10px;
  }

  .card {
    width: 250px;
    height: 150px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .card img {
    margin-top: 20px;
    width: 15%;
  }

  .info img {
    width: 5%;
  }

  #contact {
    /* border: 1px solid black; */
    padding-left: 0px;
    /* width: 100px; */
    border: none;
    text-align: left;
    background-color: transparent;
  }

  #name,
  #email,
  #subject {
    padding: 5px;
    margin-bottom: 15px;
  }

  #message {
    height: 150px;
  }

  #home,
  #about,
  #skills,
  #services,
  #projects {
    text-align: center;
  }

  .full-carousel {
    display: none;
  }

  .res-carousel {
    display: block;
  }

  .project {
    height: 580px;
    width: 320px;
    object-fit: cover;
    justify-content: center;
  }

  .project p {
    padding: 20px;
    text-align: left;
    font-size: 0.9rem;
  }

  .project input {
    align-self: flex-start;
    margin-left: 20px;
    padding: 15px;
    width: 120px;
    font-size: 1rem;
  }

  .project img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    margin-top: -35px;
  }

  .carousel-control-prev-icon{
    margin-left: -50px;
  }
  
  .carousel-control-next-icon{
    margin-right: -50px;
  }

  .carousel-control-prev-icon:after, .carousel-control-next-icon:after{
    font-size: 30px;
  }

  .carousel-control-prev-icon{
    padding-left: 15px;
  }
  
  .carousel-control-next-icon{
    padding-right: 45px;
  }
}
